@tailwind base;
@tailwind components;
@tailwind utilities;


/* *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  
  --bgcolor: #52B9A6;
  --primary-color:#52B9A6;
  --hover-color:#1c3656;
  --text-color: #080808;
  --main-text-color: #333333;
} */

/* Show dropdown on hover */
#dropdownNavbarLink:hover + #dropdownNavbar,
#dropdownNavbar:hover {
    display: block;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -10px; /* Adjust as needed */
  left: 0;
  width: 0;
  height: 2px; /* Adjust thickness */
  background-color:#52B9A6; /* Adjust color */
  transition:  0.3s;
}

.nav-link:hover::after {
  width: 100%;
}


.btn-style {
  width: 12rem;
  line-height: 3rem;
  border-radius: 2rem;
  color:#fff;
  background-color:var(--bgcolor);
  text-transform: capitalize;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  
}

.btn-style:first-child {
  margin-right: 1rem;
}

.btn-style-border-signup:hover {
  
  background-color: transparent;
  color:var(--text-color);
  
  border: 0.1rem solid var(--primary-color);


  
}

.btn-style-border-login {
  border: 0.1rem solid var(--primary-color);
  background-color: transparent;
  color:var(--text-color) ;
 

}

.btn-style-border-login:hover {
  color:#fff;
  background-color: var(--hover-color);
  text-transform: capitalize;
  
}